<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>
<hr style="color: black">
<div style="display: flex">
    <a href="/people">
        <input type="submit" value="К людям">
    </a>
    <form th:action="@{/books}">
        <label style="margin:15px">Введите поисковый запрос!
            <input type="text" th:name="wordToSearch"/>
        </label>
        <input type="submit"/>
    </form>
</div>
<hr style="color: black">

<div th:each="book : ${books}">
    <a th:href="@{/books/{id}(id=${book.getId()})}"
       th:text="${book.getName() + ', '+book.getAuthor()+', ' + book.getYearOfProduction()}">user</a>
</div>
<hr style="color: black">
<a href="/books/new">
    <input type="submit" value="Добавить книгу">
</a>
<hr style="color: black">

</body>
</html>